@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0f0f0f;
  color: white;
}

.hover-bg {
  @apply hover:bg-[#272727];
}

@layer utilities {
  .viewport-height-minus-header {
    height: calc(100vh - 64px);
  }
}
